{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form action="{{path('roadshare_connexion')}}" method="post">

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Email : </label>
    <input type="email" name="_username" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe :</label>
    <input type="password" name="_password" class="form-control" required>
    <br>
    <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
</form>
{% endblock %}
