{% extends 'base.html.twig' %}

{% block body %}
<body>
    <br>
    <div class="jumbotron">
    <h1 class="display-3">Bienvenu sur RoadShare ! </h1>
    <p class="lead">RoadShare te permet de trouver un covoitureur pour ton prochain voyage en quelques clicks !</p>
    <hr class="my-4">
    <div class="list-group">
        {% if app.user %}
        <a href="{{path('roadshare_recherche')}}" class="list-group-item list-group-item-action flex-column align-items-start">
        {% else %}
        <a href="{{path('roadshare_connexion')}}" class="list-group-item list-group-item-action flex-column align-items-start">
        {% endif %}
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Rechercher un trajet</h5>
            </div>
            <p class="mb-1">Tu veux aller quelque part mais tu n'a pas de moyen de transport ? </p>
            <small>trouves-toi un covoitureur ! </small>
        </a>
        <br>
        {% if app.user %}
        <a href="{{path('roadshare_proposition')}}" class="list-group-item list-group-item-action flex-column align-items-start alert-success">
        {% else %}
        <a href="{{path('roadshare_connexion')}}" class="list-group-item list-group-item-action flex-column align-items-start alert-success">
        {% endif %}
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Proposer un trajet</h5>
            </div>
            <p class="mb-2">Tu prévois de faire un long trajet ? tu veux avoir de la compagnie tout en economisent de l'argent ?</p>
            <small>publie ton trajet et trouve ton(tes) covoitureur(s) !</small>
        </a>
        </div>
    </div>
</body>


{% endblock %}