{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="jumbotron">
<h6 class="display-4">Prosition trajet</h6>
{{form_start(form)}}
<h1> just need to do the view </h1>
{{form_end(form)}}
</div>

{% endblock %}
