{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
<h6 class="display-4">Je propose un trajet </h6>
<form method="post" action="">
  <fieldset>
    <div class="form-group">
      <label >date : </label>
      <input type="date" class="form-control" required name="date" id="exampleInputPassword1" >
    </div>
     <div class="form-group">
      <label >heure_depart: </label>
      <input type="text" class="form-control" required name="heure_depart" id="exampleInputPassword1" placeholder="format hh:min">
    </div>
    <div class="form-group">
      <label >heure_arriver: </label>
      <input type="text" class="form-control" required name="heure_arriver" id="exampleInputPassword1" placeholder="format hh:min">
    </div>
    <div class="form-group">
      <label >Nombre de places: </label>
      <input type="text" class="form-control"  name="nb_places" id="exampleInputPassword1" placeholder="Entrez le nombre de place disponible">
    </div>
    <div class="form-group">
      <label >Prix: </label>
      <input type="text" class="form-control" required name="prix" id="exampleInputPassword1" placeholder="">
    </div>
    <div class="form-group">
      <label >Etat reservation: </label>
      <input type="text" class="form-control" required name="etat" id="exampleInputPassword1" placeholder="Saisir le nombre de place disponible">
    </div>
  </fieldset>
</form>  
{% endblock %}