{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">

    <form method="post" action="{{path('roadshare_recherche')}}" >
      <div class="card bg-secondary mb-3" >
        <div class="card-body">
          <h5 class="card-title">Départ : </h5>
          <div class="form-inline">
            <input class="form-control mr-sm-2" name="adresseDepart" type="text" placeholder="Adresse" required>
            <input class="form-control mr-sm-2" name="codePostaleDepart" type="Number" placeholder="Code Postale" required>
            <input class="form-control mr-sm-2" name="villeDepart" type="text" placeholder="Ville" required>
          </div>
        </div>
      </div>
      <div class="card bg-secondary mb-3" >
        <div class="card-body">
          <h5 class="card-title">Arrivée : </h5>
          <div class="form-inline">
            <input class="form-control mr-sm-2" name="adresseArrivee" type="text" placeholder="Adresse" required>
            <input class="form-control mr-sm-2" name="codePostaleArrivee" type="Number" placeholder="Code Postale" required>
            <input class="form-control mr-sm-2" name="villeArrivee" type="text" placeholder="Ville" required>
          </div>
        </div>
      </div>
      <div class="card bg-secondary mb-3" >
        <div class="card-body">
          <h5 class="card-title">Date & Heure de depart : </h5>
          <div class="form-inline">
            <input class="form-control mr-sm-6" name="dateDepart" type="date" placeholder="Date" required>
            <input class="form-control mr-sm-6" name="heureDepart" type="time" placeholder="Heure" required>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Lancer la recherche</button>
    </form>
</div>

{% if recherche %}
<div>
  <ul class="pagination pagination-lg">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
{% else %}
{% endif %}

{% endblock %}