{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <form methode='post' action="{{path('roadshare_recherche')}}" >
      <label lass="col-sm-6 col-form-label">Départ : </label> 
      <div class="form-inline">
        <input class="form-control mr-sm-2" name="adresse" type="text" placeholder="Adresse" required>
        <input class="form-control mr-sm-2" name="codePostale" type="Number" placeholder="Code Postale" required>
        <input class="form-control mr-sm-2" name="ville" type="text" placeholder="Ville" required>
      </div>
      <label lass="col-sm-6 col-form-label">Destination : </label> 
      <div class="form-inline">
        <input class="form-control mr-sm-2" name="adresse" type="text" placeholder="Adresse" required>
        <input class="form-control mr-sm-2" name="codePostale" type="Number" placeholder="Code Postale" required>
        <input class="form-control mr-sm-2" name="ville" type="text" placeholder="Ville" required>
      </div>
      <label lass="col-sm-6 col-form-label">Date & Heure de depart : </label> 
      <div class="form-inline">
        <input class="form-control mr-sm-6" name="dateDepart" type="date" placeholder="Date" required>
        <input class="form-control mr-sm-6" name="heureDepart" type="time" placeholder="Heure" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Lancer la recherche</button>
    </form>
</div>

{% if results %}
<div>
  <ul class="pagination pagination-lg">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
{% else %}
{% endif %}

{% endblock %}